/*
|---------------------------------
| partials/footer
|---------------------------------
*/

footer#l-footer {
    border-top: 1px solid var(--c-border);

    .top-bar {
        padding: 32px 0;
        background-color: white;

        > .l-constrain {
            display: flex;
            gap: 64px;

            #footer-section-company {
                border-radius: 0.5rem;
                flex: 1;
                display: grid;
                gap: 16px;

                .brand-logo {

                    width: 250px;
                }
                .brand__description {

                    p {
                        color: var(--c-text-shade);
                        font-size: 0.82rem;
                    }
                }
                .brand__social {
                    ul {
                        display: flex;
                        gap: 16px;

                        li {

                            a {
                                display: block;
                                color: var(--c-text-shade);
                                opacity: 0.6;

                                &:hover {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
            .footer-sections {
                display: flex;
                gap: 64px;
            }
            .widget-menu {
                padding: 24px;

                .footer-section__title {
                    font-size: 1.2rem;
                    font-weight: 700;
                    margin-bottom: 16px;
                }
                ul {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    gap: 0;

                    li {
                        width: 100%;

                        a {
                            display: block;
                            padding: 6px 0;
                            color: rgba(0, 0, 0, 0.5);
    
                            &:hover,
                            &[current-page="page"] {
                                color: #000;
                            }
                        }
                    }
                }
            }
        }
    }
    .bottom-bar {
        padding: 16px 0;
        background-color: var(--c-background-darker);

        > .l-constrain {
            display: grid;
            place-items: center;

            p.copyright {
                color: var(--c-text);
                font-weight: 400;
                text-align: center;
            }
        }
        .separator {
            display: inline-block;
            margin: 0 8px;
        }
    }
}


/* Tablet horizontal */
@media (max-width: 1024px) {
    footer#l-footer {
        .top-bar {
            > .l-constrain {
                flex-direction: column;
                gap: 32px;

                .footer-sections {
                    gap: 32px;
                }
            }
        }
    }
}

/* Mobile */
@media (max-width: 480px) {
    footer#l-footer {

        .top-bar {

            > .l-constrain {

                .footer-sections {
                    flex-direction: column;
                }

                #footer-section-company {
                    padding: 24px 16px;
                    flex: 0;
                }
                .widget-menu {
                    padding: 16px;
                }
            }
        }
    }
}
