/*
|---------------------------------
| globals/variables
|---------------------------------
*/

:root {
    /* Colors */
    --c-primary: #de5f4f;
    --c-primary-rgb: 222, 95, 79;
    --c-primary-lighter: hsl(7, 68%, 98%);
    --c-secondary: #2e2e3b;
    --c-secondary-rgb: 46, 46, 59;
    --c-secondary-lighter: hsl(240, 12%, 87%);
    --c-background: #ffffff;
    --c-background-darker: #f7f8f9;
    --c-text: #202124;
    --c-text-shade: rgba(32, 33, 36, 0.6);
    --c-text-alt: #ffffff;
    --c-text-alt-shade: rgba(255, 255, 255, 0.6);
    --c-border: #ededed;
    --c-border-darker: #cccccc;

    /* Fonts */
    --f-default: "Roboto", system-ui, sans-serif;

    /* constrain */
    --constrain-width: 1200px;

    /* Animation */
    --a-duration: 0.3s;
    --a-timing-function: cubic-bezier(0.405, 0, 0.025, 1);
    --a-transition: var(--a-duration) var(--a-timing-function);
}
